main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 60vw;
    border: 1px solid coral;
}

button {
    padding: 10px 10px;
    margin-bottom: 8px;
}